.addReviewForm_ratingStars {
  display: flex;
  gap: 8px;
}
.defStar {
  width: 24px;
  height: 24px;
  fill: #b7b7b7;
  transition: fill 0.3s ease;
}
.chngStar {
  width: 24px;
  height: 24px;
  // fill: #f9854e;
  fill: #152f23;
  transition: fill 0.3s ease;
}
