.breadcrumbsWrapp {
  padding: 24px 16px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    padding: 20px 24px;
  }
  @media screen and (min-width: 1440px) {
    padding: 24px 80px;
    max-width: 1440px;
  }
}
