@keyframes moveRight {
  from {
    background-position: 100px 0;
  }
  to {
    background-position: 1970px 0;
  }
}
@keyframes moveLeft {
  from {
    background-position: 1870px 0;
  }
  to {
    background-position: 0 0;
  }
}

.hero_container {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;

  border: 2px solid;
}
.hero_container__backgroundBlock {
  height: 800px;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: rotate(-6deg) translateZ(0);
  justify-content: center;
  gap: 24px;
  // align-items: center;
}
.hero_container__backgroundRight {
  background: url("../../assete/svg/FrameRight.svg") repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: 24px * 3;
  animation: moveRight 32s linear infinite;
  // animation-timing-function: cubic-bezier(0.1, 0.63, 0.71, 0.71);
}
.hero_container__backgroundBlockLeft {
  background: url("../../assete/svg/FrameLeft.svg") repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveLeft 32s linear infinite;
  shape-rendering: crispEdges;
}

.hero_container__img {
  margin-top: 160px;
  width: 800px;
  height: 480px;
  border-radius: 160px;
  background: #d9d9d9;
}
.hero_container__btn {
  display: flex;
  width: 320px;
  height: 80px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #f9854e;
  background: #fffdfa;
}
.hero_container__btn_text {
  color: #f9854e;
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
}
