.reviewsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  // gap: 361px;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    // gap: 516px;
  }
  @media screen and (min-width: 1440px) {
    // gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
// .reviewsLeftBlock {
//   // position: absolute;
//   display: flex;
//   flex-direction: column;
//   gap: 361px;
//   // width: 100%;
//   @media screen and (min-width: 768px) {
//     gap: 516px;
//   }
//   @media screen and (min-width: 1440px) {
//     width: 407px;
//     gap: 0;
//   }
// }
.container {
  box-sizing: border-box;
  padding: 32px 24px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    padding: 64px 20px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 80px;
  }
}
.reviewsLeftBlockTop {
  // padding: 32px 24px 0 24px;
  order: 1;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 502px;
    // padding: 64px 20px 0 20px;
  }
  @media screen and (min-width: 1440px) {
    // padding: 80px 80px 0 80px;
  }
}
.reviewsLeftBlockBottom {
  position: static;
  display: flex;

  flex-direction: column-reverse;
  align-items: center;
  order: 3;
  margin-top: 361px;
  @media screen and (min-width: 768px) {
    align-items: flex-start;
    margin-top: 32px;
  }
  @media screen and (min-width: 1440px) {
    position: absolute;
    flex-direction: column;
    bottom: 80px;
  }
}
.reviewsRightBlock {
  order: 2;
  height: 345px;
  position: absolute;
  display: flex;
  justify-content: center;
  // align-items: flex-end;
  padding-top: 16px;
  width: 100%;
  left: 0px;
  top: 131px;
  @media screen and (min-width: 768px) {
    position: relative;
    top: 0;
    height: 424px;
    width: 100%;
    padding-top: 32px;
    justify-content: center;
  }
  @media screen and (min-width: 1440px) {
    width: 845px;
    height: 539px;
    padding-top: 66px;
    padding-bottom: 0;
  }
}
.reviewsLeftBlock_title {
  color: var(--primary-orange, #f9854e);
  text-align: center;
  font-family: DM-Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  text-transform: uppercase;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 32px;
    height: 34px;
  }
}
.reviewsLeftBlockTop h2 {
  color: #1e1e2d;
  font-family: DM-Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  // margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    // margin-bottom: 32px;
    font-size: 64px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 64px;
    // margin-bottom: 16px;
  }
}
.reviewsLeftBlockBottom p {
  color: #1e1e2d;
  font-family: DM-Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  // margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    margin-bottom: 24px;
  }
}
.reviewsLeftBlock_button {
  display: flex;
  width: 308px;
  height: 48px;
  padding: 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--primary-deep-green, #152f23);
  color: var(--primary-white, #fff);
  font-family: DM-Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    width: 308px;
    height: 48px;
    padding: 10px;
    gap: 10px;
    font-size: 16px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1440px) {
    width: 362px;
    height: 60px;
    padding: 20px 24px;
    gap: 8px;
    font-size: 16px;
    margin-bottom: 117px;
  }
}
.reviewsLeftBlock_button:hover {
  color: var(--primary-black, #010101);
  border: 1px solid var(--primary-deep-green, #152f23);
  background-color: #fff;
}
.reviewsLeftBlock_arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 24px;
  // margin-top: 117px;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    // height: 24px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1440px) {
    // height: 24px;
    margin-bottom: 0;
    justify-content: flex-start;
  }
}

.reviewsRightBlock_link {
  height: 25px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  color: var(--primary-middle-green, #536524);
  font-family: DM-Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  border-bottom: 1px solid #536524;
  top: -25px;
  right: 24px;
  @media screen and (min-width: 768px) {
    right: 0;
    height: 34px;
    font-size: 20px;
    top: -34px;
  }
  @media screen and (min-width: 1440px) {
    // height: 34px;
    top: 0;
  }
}
.reviewsRightBlock_slider {
  // display: flex;
  // justify-content: center;
  // width: 728px;
  width: 100%;
  @media screen and (min-width: 768px) {
    // width: 728px;
    // flex-grow: 1;
    // width: 100%;
  }
  @media screen and (min-width: 1440px) {
    width: 845px;
  }
}
