.allReviewsContainer {
  // margin-top: 24px;
  // @media screen and (min-width: 768px) {
  //   margin-top: 32px;
  // }
}

.breadcrumbsWrapper {
  padding: 24px 0;
}
.cardsSection {
  min-height: 100hv;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 80px;
  }
}
.cardsSection_header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}
.reviewsH1 {
  color: var(--primary-black, #010101);
  font-family: DM-Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  @media screen and (min-width: 768px) {
    font-size: 64px;
  }
}
.reviewsH1 sup {
  color: var(--primary-black, #010101);
  font-family: DM-Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding-left: 2px;
  @media screen and (min-width: 768px) {
    font-size: 38px;
  }
}
.sortButton {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 20px;
  border: 1px solid var(--primary-black, #1e1e2d);
  background: var(--primary-white, #fff);
}
.sortButton p {
  color: var(--primary-black, #1e1e2d);
  font-family: DM-Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
.sortModal {
  position: absolute;
  right: 0;
  bottom: -4px;
  transform: translateY(100%);
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid var(--secondary-grey, #b7b7b7);
  background: var(--primary-white, #fff);
  box-shadow: 8px 10px 20px 0px rgba(139, 139, 139, 0.1);
  @media screen and (min-width: 768px) {
    gap: 16px;
  }
  @media screen and (min-width: 768px) {
    padding: 32px;
    gap: 16px;
  }
}
.sortModal_li button {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sortModal_li p {
  color: var(--primary-black, #1e1e2d);
  font-family: DM-Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
.cardsSection_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @media screen and (min-width: 1440px) {
    gap: 29px;
  }
}
.cardsSection_gridLi {
  @media screen and (min-width: 768px) {
    width: 356px;
    flex-grow: 1;
  }
}
.ButtonDark {
  display: flex;
  width: 312;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--primary-white, #fff);
  font-family: DM-Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  border-radius: 30px;
  border: 1px solid var(--primary-deep-green, #152f23);
  background: var(--primary-deep-green, #152f23);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
    width: 308px;
    height: 48px;
    font-size: 16px;
  }
  @media screen and (min-width: 1440px) {
    height: 60px;
    padding: 20px 24px;
    width: 362px;
  }
}
.ButtonDark:hover {
  background: var(--primary-white, #fff);
  color: var(--primary-deep-green, #152f23);
}
.fieldsSection {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  @media screen and (min-width: 768px) {
    margin-top: 64px;
    gap: 32px;
  }
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    margin-top: 80px;
    justify-content: space-between;
  }
}
.fieldsSection_titleBlock {
  display: flex;
  // height: 231px;
  // width: 518px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  @media screen and (min-width: 768px) {
    // width: 518px;
  }
  @media screen and (min-width: 1440px) {
    width: 518px;
    // margin-top: 80px;
  }
}
.fieldsSection_titleBlock h1 {
  color: var(--primary-black, #010101);
  font-family: DM-Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 70.4px */
  @media screen and (min-width: 768px) {
    font-size: 64px;
  }
  @media screen and (min-width: 1440px) {
    line-height: 110%;
  }
}
.fieldsSection_titleBlock p {
  color: var(--primary-black, #010101);

  font-family: DM-Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }
}
