.swipMobileCard {
  display: flex;
  height: 438px;
  //   max-width: 312px; // delete this width
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;

  border-radius: 20px;
  border: 1px solid var(--primary-secondary);
  background: var(--primary-primary);

  @media screen and (min-width: 768px) {
    padding: 24px;
    height: 473px;
  }
}
.swipMobileCard_textPsition {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.swipMobileCard_userDatePsition {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.swipMobileCard_userInfo {
  display: flex;
  gap: 8px;
}
.swipMobileCard_userInfo__avatarWrapper {
  width: 48px;
  height: 48px;
  fill: #d9d9d9;
  border-radius: 50%;
  overflow: hidden;
}
.swipMobileCard_userInfo__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swipMobileCard_userInfo__nameRaitDate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.swipMobileCard_userInfo__nameRaitDate__name {
  color: var(--primary-secondary);
  font-family: Poppins-Medium;
  color: var(--primary-dark-blue, #1e1e2d);
  font-size: 16px;
  font-style: normal;
  line-height: 1.4;
}
.swipMobileCard_userInfo__starsWraper {
  display: flex;
  gap: 8px;
}
.swipMobileCard_userInfo__stars {
  width: 16px;
  height: 16px;
}
.swipMobileCard_userInfo__nameRaitDate__date {
  color: var(--primary-grey);
  font-family: Poppins-Regular;
  font-size: 12px;
}
.swipMobileCard_header {
  color: var(--primary-secondary);
  font-family: Poppins-Medium;
  font-size: 18px;
  text-transform: uppercase;

  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
.swipMobileCard_text {
  color: var(--primary-secondary);
  font-family: Poppins-Regular;
  font-size: 16px;
  // overflow: auto;
  max-height: 266px;

  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 13;
  overflow: hidden;
  text-overflow: ellipsis;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    max-height: 283px;
  }
}

// .swipMobileCard {
//   display: flex;
//   flex-grow: 1;
//   height: 50%; /* 414px in rem */
//   padding: 1rem; /* 16px in rem */
//   flex-direction: column;
//   align-items: flex-start;
//   gap: 1rem; /* 16px in rem */

//   border-radius: 1.25rem; /* 20px in rem */
//   border: 0.0625rem solid var(--primary-secondary);
//   background: var(--primary-primary);
// }

// .swipMobileCard_userInfo {
//   display: flex;
//   gap: 1rem; /* 16px in rem */
// }
// .swipMobileCard_userInfo__avatarWrapper {
//   width: 3rem; /* 48px in rem */
//   height: 3rem; /* 48px in rem */
//   fill: #d9d9d9;
//   border-radius: 50%;
//   overflow: hidden;
// }
// .swipMobileCard_userInfo__avatar {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }
// .swipMobileCard_userInfo__nameRaitDate {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   gap: 0.5rem; /* 8px in rem */
// }
// .swipMobileCard_userInfo__nameRaitDate__name {
//   color: var(--primary-secondary);
//   font-family: Poppins-Regular;
//   font-size: 1rem; /* 16px in rem */
//   text-transform: uppercase;
// }
// .swipMobileCard_userInfo__starsWraper {
//   display: flex;
//   gap: 0.5rem; /* 8px in rem */
// }
// .swipMobileCard_userInfo__stars {
//   width: 1rem; /* 16px in rem */
//   height: 1rem; /* 16px in rem */
// }
// .swipMobileCard_userInfo__nameRaitDate__date {
//   color: var(--primary-grey);
//   font-family: Poppins-Regular;
//   font-size: 0.75rem; /* 12px in rem */
// }
// .swipMobileCard_header {
//   color: var(--primary-secondary);
//   font-family: Poppins-Medium;
//   font-size: 1rem; /* 16px in rem */
//   text-transform: uppercase;
// }
// .swipMobileCard_text {
//   color: var(--primary-secondary);
//   font-family: Poppins-Regular;
//   font-size: 0.875rem; /* 14px in rem */
// }
