@import "swiper/css";
@import "swiper/css/free-mode";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

.swaprWrap .swiper {
  // width: 100%;
  // height: 100%;
}

.swaprWrap .swiper-wrapper .swiper-slide.swiper-slide-active {
  @media screen and (max-width: 768px) {
    // transform: scale(1);
    // transition: transform 0.4s ease;
  }
}

.swaprWrap .swiper-wrapper .swiper-slide,
.swaprWrap .swiper-wrapper .swiper-slide {
  @media screen and (max-width: 768px) {
    // transform: scale(0.5);
    // transition: transform 0.4s ease;
  }
}
// .swiper-button-next {
//   right: 340px;
//   top: auto;
//   bottom: 23px;
//   width: 24px;
//   height: 24px;
//   transform: scale(0.28);
//   color: var(--primary-deep-green, #152f23);
// }
// .swiper-button-prev {
//   left: 340px;
//   top: auto;
//   bottom: 23px;
//   width: 24px;
//   height: 24px;
//   transform: scale(0.28);
//   color: var(--primary-deep-green, #152f23);
// }

.swaprWrap .swiper-pagination {
  // width: 150px !important;
  // bottom: 30px;
  // left: 24px;
  // transform: translateX(50%);
}
.swiper {
  position: static;
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 24px;
  transform: translateX(0);
  // bottom: 10px;
}
// .swiper-horizontal
//   > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
// .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
//   left: 0;
//   transform: translateX(0);
//   bottom: 0;
// }
.swiper-pagination-bullet {
  opacity: 1;
  background: #fff;
  width: 10px;
  height: 10px;
  border: 1px solid var(--primary-deep-green, #152f23);
  border-radius: 50%;
  transform: scale(1);
}
.swiper-pagination-bullet-active {
  width: 32px;
  height: 10px;
  border-radius: 24px;
  background: var(--primary-orange, #f9854e);
  border: none;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(1);
  margin: 0;
  // transform: scale(0.33);
  // background: var(--primary-deep-green, #152f23);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(1);
}
// .swaprWrap .swiper-wrapper .swiper-slide.swiper-slide-active,
// .swaprWrap .swiper-wrapper .swiper-slide.swiper-slide-prev,
// .swaprWrap .swiper-wrapper .swiper-slide.swiper-slide-next {
//   transform: scaleY(1);
//   transition: transform 0.2s ease;
// }

// .swaprWrap .swiper-wrapper .swiper-slide.swiper-slide-prev,
// .swaprWrap .swiper-wrapper .swiper-slide {
//   transform: scaleY(0);
//   transition: transform 0.2s ease;
// }

// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;

//   /* Center slide text vertically */
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 312px;
// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }
// .swiper-slide {
//   width: 312px;
// }
