.services_container {
  outline: 1px solid;
}
.services_p {
  color: var(--primary-orange, #f9854e);
  //   text-align: center;
  font-family: DM-Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
.services_h2 {
  margin-top: 12px;
  color: var(--primary-black, #010101);

  /* Heading/H1 64 medium */
  font-family: DM-Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 70.4px */
  text-transform: capitalize;
  width: 312px;
  @media screen and (min-width: 768px) {
    width: 724px;
    margin-top: 16px;
    font-size: 40px;
  }
  @media screen and (min-width: 1440px) {
    width: 1280px;
    font-size: 64px;
  }
}
.services_cardsContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  @media screen and (min-width: 768px) {
    margin-top: 32px;

    gap: 20px;
  }
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    gap: 25px;
  }
}
.services_cardsContainer__card {
  // width: 312px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  background: var(--primary-deep-green, #152f23);

  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  @media screen and (min-width: 768px) {
    width: 100%;
    // flex-grow: 1;
    // height: 310px;
    padding: 24px;
    gap: 48px;
    // justify-content: space-between;
  }
  @media screen and (min-width: 1440px) {
    width: 410px;
    height: 203px;
    gap: 64px;
  }
}
.services_cardsContainer__cardH3 {
  color: var(--primary-white, #fff);

  font-family: DM-Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}
.services_cardsContainer__cardTextWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px) {
    align-items: flex-end;
  }
}
.services_cardsContainer__cardText {
  width: 213px;
  color: var(--primary-white, #fff);
  font-family: DM-Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  @media screen and (min-width: 768px) {
    font-size: 16px;
    width: 100%;
    line-height: normal;
  }
  @media screen and (min-width: 1440px) {
    width: 298px;
  }
}
.services_cardsContainer__cardSvgWrapper {
  position: relative;
  width: 32px;
  height: 32px;
  @media screen and (min-width: 768px) {
    width: 46px;
    height: 46px;
  }
}
.services_cardsContainer__cardSvg {
  position: static;
  //   top: 8px;
  width: 32px;
  height: 32px;
  color: #fff;
  transition: transform 0.3s ease;
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 12px;
    width: 46px;
    height: 46px;
  }
}

.services_cardsContainer__card:hover .services_cardsContainer__cardSvg {
  transform: rotate(45deg);
}
