.swiperBtnWrapper {
  display: flex;
  // gap: 16px;
  align-items: center;
  color: var(--primary-secondary, #1e1e2d);
  font-family: Poppins-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
.swiperBtnWrapper p:first-of-type {
  color: var(--primary-accent, #f9854e);
}
.btn {
  border: none;
  background: none;
  margin-right: 16px;
  margin-left: 16px;
}
