.swiperBtnWrapper {
  display: flex;
  align-items: center;
  color: var(--primary-secondary, #1e1e2d);
  font-family: Poppins-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
.swiperBtnWrapper p:first-of-type {
  color: var(--primary-accent);
}
.btn {
  border: none;
  background: none;
  padding: 0;
}
.btn .arrowSwiper_style {
  transition: transform 0.3s ease, color 0.3s ease;
}
.btn:hover .arrowSwiper_style {
  color: var(--primary-accent);
  transition: transform 0.3s ease, color 0.3s ease;
}
