:root {
  --primary-primary: #fffdfa;
  --primary-secondary: #1e1e2d;
  --primary-accent: #f9854e;
  --primary-accent-pressed: #e57742;
  --primary-grey: #b7b7b7;

  --color-success: #1bb270;
  --color-error: #ff2e00;
  --color-link: #4e7fff;
  --color-disabled: #969696;

  --primary-white: #ffffff;
  --primary-black: #010101;
  --primary-middle-green: #536524;
  --primary-deep-green: #152f23;
  --primary-light-green: #dcded0;
  --primary-orange: #f9854e;
  --secondary-orange-light: #f3b99d;
  --secondary-grey: #b7b7b7;
  --linear-linear-first-screen: linear-gradient(
    12deg,
    rgba(21, 47, 35, 0.3) 8.16%,
    rgba(21, 47, 35, 0.3) 39.58%,
    rgba(21, 47, 35, 0) 61.29%,
    rgba(21, 47, 35, 0) 90.91%
  );
}
