:root {
  --primary-primary: #fffdfa;
  --primary-secondary: #1e1e2d;
  --primary-accent: #f9854e;
  --primary-accent-pressed: #e57742;
  --primary-grey: #b7b7b7;

  --color-success: #1bb270;
  --color-error: #ff2e00;
  --color-link: #4e7fff;
  --color-disabled: #969696;
}
