
// .wrapperDescriptionSectionLink{
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-end;
//     margin-bottom: 16px;
// }
// .descriptionSection{
//     margin-bottom: 16px;
//     padding-right: 24px;
//     padding-left: 24px;
//     color: var(--primary-secondary);
// font-family: Poppins-Medium;
// font-size: 32px;
// font-style: normal;
// font-weight: 500;
// line-height: 120%; /* 38.4px */
// text-transform: uppercase;
//  @media screen and (min-width: 1440px) {
//     margin-bottom: 0;
//     padding-right: 0;
//     padding-left: 0;
//     font-size: 64px;
    
//     width: 715px;
//   }
// }

// .wrapperSlideItem {
//   padding: 16px;
//   background-color: var(--primary-primary);
//   width: 313px;

//   border: 1px solid black;

//   border-radius: 20px;
//   @media screen and (min-width: 768px) {
//     width: 402px;
//     padding: 24px;
//   }
// }
// .wrapperContentDish {
//   display: flex;
//   gap: 16px;
//   flex-direction: row-reverse;
//   @media screen and (min-width: 768px) {
//     display: block;
//   }
// }
// .wrapperImgDish {
//   margin-right: auto;
//   margin-left: auto;
//   width: 80px;
//   height: 80px;
//   fill: #d9d9d9;
//   border-radius: 50%;
//   overflow: hidden;
//   @media screen and (min-width: 768px) {
//     width: 288px;
//     height: 288px;
//   }
// }
// .imgDish {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }
// .wrapperDescriptionDish {
//   width: 185px;
//   @media screen and (min-width: 768px) {
//     width: 362px;
//   }
// }
// .nameDish {
//   margin-bottom: 8px;
//   font-family: Poppins-Medium;
//   font-size: 16px;
//   line-height: 1.2em; /* 21.6px */
//   text-transform: uppercase;
//   color: var(--primary-secondary);
//   @media screen and (min-width: 768px) {
//     margin-bottom: 15px;
//     font-size: 18px;
//   }
// }
// .descriptionDish {
//   margin-bottom: 8px;
//   font-family: Poppins-Regular;
//   font-size: 12px;
//   line-height: 1.2em;
//   color: var(--primary-grey);
//   @media screen and (min-width: 768px) {
//     margin-bottom: 15px;
//     font-size: 16px;
//   }
// }
// .weightDish {
//   font-family: Poppins-Regular;
//   font-size: 16px;
//   line-height: 1.2em;
//   color: var(--primary-grey);
//   @media screen and (min-width: 768px) {
//     font-size: 12px;
//   }
// }
// .boxDishFooter {
//   display: flex;
//   justify-content: space-between;
// }
// .priceDish {
//   font-family: Poppins-Medium;
//   font-size: 24px;
//   font-style: normal;

//   line-height: 1.2; /* 38.4px */
//   text-transform: uppercase;
//   color: var(--primary-accent);
//   @media screen and (min-width: 768px) {
//     font-family: Poppins-Medium;
//     font-size: 32px;
//   }
// }
// .btnDishOrder {
//   display: flex;
//   width: 120px;
//   height: 36px;
//   padding: 8px 16px;

//   justify-content: center;
//   align-items: center;

//   // align-self: center;

//   font-family: Poppins-Regular;
//   font-size: 16px;
//   font-style: normal;

//   line-height: 1.2; /* 21.6px */
//   text-transform: uppercase;
//   color: var(--primary-primary);

//   border: none;
//   border-radius: 20px;
//   background: var(--primary-accent);
//   @media screen and (min-width: 768px) {
//     width: 150px;
//     height: 48px;
//     font-size: 18px;
//   }
// }
.section{
  padding-bottom: 32px;
  padding-top: 32px;
}
.titlePopularDish{
    margin-bottom: 12px;
    color: var(--primary-accent);
    padding-left: 24px;
// text-align:;
font-family: DM-Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 16.8px */
text-transform: uppercase;
 @media screen and (min-width: 768px) {
   font-size: 18px;
    padding-left: 0px;
    
  }
}
.wrapperDescriptionSectionLink{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}
.descriptionSection{
    
    padding-right: 24px;
    padding-left: 24px;
//     color: var(--primary-secondary);
// font-family: Poppins-Medium;
// font-size: 32px;
// font-style: normal;
// font-weight: 500;
// line-height: 120%; /* 38.4px */
// text-transform: uppercase;
 @media screen and (min-width: 768px) {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    // font-size: 64px;
    
    width: 375px;
  }
  @media screen and (min-width: 1440px) {
    width: 600px;
  }
}
// .linkAllCategory{
//   margin-top: 16px;
//   color: var(--primary-middle-green);
// /* Body/B4 14 regular */
// font-family: DM-Sans;
// font-size: 14px;
// font-style: normal;
// font-weight: 400;
// line-height: 120%;
//  @media screen and (min-width: 768px) {
//     margin-top: 0px;
//   }
// }
