.wrapperHeder {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #fff;
  display: flex;

  // justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 1440px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.logoLink{
  display: flex;
  gap: 8px;
}
.logoText{
  display: none;
   @media screen and (min-width: 1440px) {
    display: flex;
     color: var(--primary-secondary);
font-family: Poppins-Bold;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 28.8px */
text-transform: uppercase;
  }
 

}
.menuList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    gap: 32px;
    margin-left: auto;
    margin-right: 177px;
  }
}
.menuListLink{
font-family: Poppins-Regular;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.2;
text-transform: uppercase;

color: var(--primary-secondary);
}
.menuListLink:hover {
  text-decoration-line: underline;
}
.menuListLink:global(.active){
  color: var(--primary-accent);
  text-decoration-line: underline;
}
.wrapperIcon {
  margin-left: auto;

  @media screen and (min-width: 1440px) {
    margin-left: 0px;
    display: flex;
    gap: 32px;
    // margin-right: 179px;
  }
}
.iconSearch {
  @media screen and (max-width: 1439px) {
    display: none;
  }
}
.iconSearch:hover .search path,
.iconSearch:hover .search circle {
  stroke: #f9854e;
}
.iconUser {
  @media screen and (max-width: 1439px) {
    display: none;
  }
}
.iconUser:hover .user path,
.iconUser:hover .user circle {
  stroke: #f9854e;
}

.wrapperBasket {
  position: relative;
  margin-right: 25px;
  margin-left: auto;
  stroke: #1e1e2d;
  transition: stroke 0.2s;
}
.wrapperBasket:hover .bas path,
.wrapperBasket:hover {
  stroke: #f9854e;
  color: #f9854e;
}
.countBasket{
   position: absolute;
    font-family: Poppins-Regular;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 110%;
text-transform: uppercase;
stroke: #1E1E2D;
  transition: stroke 0.2s;
}

.wrapperBurgerMobil {
  // position: relative;
  // margin-right: 37px;
  
  @media screen and (min-width: 1440px) {
    display: none;
  }
}
.wrapperBurgerMobil:hover .burgerMobil path {
  stroke: #f9854e;
}
.burgerMenu{
  position: absolute;
  padding: 44px 24px;
  z-index: 100;
  top: 45px;
  right: 24px;
  width: 249px;
  height: 286px;
  background-color: #fff;
  // transform: translateX(-10%);
  // transition: transform 250ms ease;
  // transition-duration: 1000ms;
}
.buttonClose{
  position: absolute;
  top: 12px;
  right: 12px;
}