.formikContainer {
  display: inline-flex;
  //   height: 748px;
  padding: 48px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;

  border-radius: 24px;
  background: #fff;
}
.closeButtonContainer {
  display: flex;
  width: 430px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.headerH2 {
  color: #1e1e2d;
  font-family: DM-Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 38.4px */
}

.formikContainer_fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.formikContainer_field_relative {
  display: flex;
  align-items: center;
  position: relative;
}
.formikContainer_fieldSvgPass {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 10px;
}

.formikContainer_fieldSvgFlag {
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: 20px;
}
.formikContainer_elements {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.formikContainer_field {
  display: flex;
  width: 430px;
  height: 49px;
  padding: 10px 10px 10px 20px;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

  border-radius: 30px;
  border: 1px solid #6b6b6b;

  color: #2c2c2c;
  font-family: DM-Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.formikContainer_field::placeholder {
  color: #949494;
  font-family: DM-Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}
.formikContainer_field:focus::placeholder {
  opacity: 0;
}
.formikContainer_fieldPass {
  padding-right: 54px;
}
// .formikContainer_button {
// display: flex;
// width: 430px;
// height: 48px;
// padding: 20px 24px;
// justify-content: center;
// align-items: center;
// gap: 8px;
// flex-shrink: 0;

// border-radius: 30px;
// background: #152f23;

// color: var(--primary-white, #fffdfa);

// /* Body desktop/S upper desktop */
// color: #fffdfa;
// font-family: Poppins-Medium;
// font-size: 16px;
// font-style: normal;
// font-weight: 500;
// line-height: 120%; /* 19.2px */
// }
.formikContainer_GAbuttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.formikContainer_p {
  color: #1e1e2d;
  text-align: center;
  font-family: DM-Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
}
.formikContainer_GAbuttonFlex {
  display: flex;
  width: 430px;
  height: 51px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.formikContainer_GAbuttonFlex button {
  display: flex;
  width: 207px;
  height: 48px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;

  border-radius: 30px;
  border: 1px solid #1e1e2d;

  /* Body desktop/Body desktop 16 regular */
  font-family: Poppins-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}
.formikContainer_chAuthForm {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.formikContainer_chAuthForm p {
  color: #8b8b8b;
  font-family: DM-Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}
.formikContainer_link {
  color: #214ec1;
  text-align: right;
  font-family: DM-Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}
.formikContainer_chAuthForm button {
  color: #214ec1;
  font-family: DM-Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.error {
  position: absolute;
  display: flex;
  align-items: center;
  color: var(--system-error, #ff2e00);
  font-family: DM-Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}
.formikContainer_fieldError {
  border: 1px solid #ff2e00;
}
